/*Imports*/
/*GLOBAL*/

h1, h2, h3, button, aside time{
	font-family: Teko, sans-serif;
	text-transform: uppercase;
	}

*{
	box-sizing: border-box;
}

body{
	background: #7d797c url(../img/background.jpg) center center no-repeat fixed;
	background-size: cover;
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	color: #fff;
}

/*CLEARFIX*/

.clearfix:before, .clearfix:after{
	content:"";
	display: table;
}

.clearfix:after{
	clear: both;
}


/*HEADER*/

.logo{
	float: left;
	width: 70px;
	height: 70px;
}

.logo img{
	width: 100%;
	height: auto;
}

.container nav {
	float: right;
	width: 70px;
	height: 70px;
	background-color: #352d2f;
}

.hamburger{
	margin: 25px auto 25px;
	padding: auto;
}
.hamburger div{
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	background-color:white;
	padding: auto;
	
}




header.topheader{
	margin-bottom: 190px;
}

header nav{
	float: right;
}

header nav ul{
	display: none;
}

main{
	width: 60%;
}

/*MAIN*/

h1{
	font-size: 120px;
	font-weight: 300;
	letter-spacing: 20px;
	width: 700px;
	margin-bottom: 40px;
}

.tagline{
	display: block;
	font-size: 26px;
	font-weight: 300;
	color: #d9d8d9;
	margin-bottom: 25px;
}

.p2{
	font-size: 16px;
	font-weight: 300;
	color: #b4b2b3;
	margin-bottom: 60px;
	line-height: 1.25;
}

h2{
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 3px;
	margin-bottom: 38px;
}

.social{
	font-size: 18px;
	font-weight: 300;
	color: #b4b2b3;
	margin-bottom: 40px;
}

/*FORM SIGN UP WITH EMAIL*/

form {
	margin-bottom: 32px;	
}

form input{
	display: inline-block;
	width: 350px;
	height: 50px;
	/*line-height: 2.5;*/
	font-size: 16px;
	font-weight: 300;
	color: #555555;
	background-color: #fff;	
	padding-left: 1em;
	vertical-align: middle;
	border: none;
}

form button{
	display: inline-block;
	padding: 15px 30px;
	font-size: 20px;
	letter-spacing: 5px;
	line-height: 1;
	color: #fff;
	background-color: #f63c3c;
	border: none;
	font-weight: 400;

}

/*ASIDE*/


aside h3 {
	font-size: 20px;
	font-weight: 300;
	color: #9e9b9e;
	letter-spacing: 16px;
	margin-bottom: 16px;
	color: white;
}

.fa-twitter{
	margin-right: 8px;
	font-size: 30px;
}

aside article{
	display: block;
	width: 260px;
	color: #efefef;
	position: relative;
	margin:0px 0px 20px 50px;
	/*margin-bottom: 20px;*/
}

aside time{
	display: block;
	font-size: 20px;
	font-weight: 300;
	color: #828083;
	letter-spacing: 4px;
	margin: 20px 0px 145px 0px;	
}



/*FOOTER*/

footer {
	font-size: 13px;
	font-weight: 300px;
	color: #898889;
	padding: none;
	margin-bottom: 30px;
}

footer p {
	display: inline-block;
	float: left;

}
 footer p a {
	color: #fff;
 }

footer div a {
	display: inline-block;
	float: right;
	color: #898889;
	text-decoration: none;
	margin-right: 15px;
}


.container{
	max-width: 1170px;
	margin: 0 auto;
	width: 60%;
}







